{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Eliminar Furgon
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 justify-content-center align-items-center g-2">
                <h1>Eliminar Furgon</h1>
                <p>
                    <p>¿Estás seguro de que deseas eliminar el furgón con patente {{ furgon.patente }}?</p>
                </p>
                <form action="{% url 'furgones:eliminar_furgon' furgon.id %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <center>
                        <button class="btn btn-danger">Eliminar Furgon</button>
                        <a href="{% url 'furgones:listar_furgones' %}"
                           class="btn btn-secondary">Cancelar</a>
                    </center>
                </form>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
{% endblock content %}
