{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Registrar Chofer
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 justify-content-center align-items-center g-2">
                <h1>Registrar Chofer</h1>
                <form id="choferForm" action="{% url 'choferes:registrar_chofer' %}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.rut|as_crispy_field }}
                    {{ form.dv|as_crispy_field }}
                    {{ form.nombres|as_crispy_field }}
                    {{ form.apellido_paterno|as_crispy_field }}
                    {{ form.apellido_materno|as_crispy_field }}
                    <div class="form-group">
                        <label for="datepicker">Fecha de Nacimiento</label>
                        <div class="input-group date" id="datepicker" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datepicker"/>
                        </div>
                    </div>
                    <br>
                    {{ form.direccion|as_crispy_field }}
                    {{ form.comuna|as_crispy_field }}
                    {{ form.telefono|as_crispy_field }}
                    {{ form.email|as_crispy_field }}
                    
                    <input type="hidden" id="id_fecha_nacimiento" name="fecha_nacimiento">
                   
                    <center>
                        <button class="btn btn-success">Registrar Chofer</button>
                        <a href="{% url 'choferes:listar_choferes' %}"
                           class="btn btn-secondary">Cancelar</a>
                    </center>
                </form>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            // Inicializar Tempus Dominus
            var datepicker = new tempusDominus.TempusDominus(document.getElementById('datepicker'), {
                display: {
                    components: {
                        calendar: true,
                        date: true,
                        month: true,
                        year: true,
                        decades: true,
                        clock: false,
                        hours: false,
                        minutes: false,
                        seconds: false
                    },
                    buttons: {
                        today: true,
                        clear: true,
                        close: true
                    }
                },
                localization: {
                    locale: 'es'
                }
            });

            datepicker.dates.formatInput = function(date) { {return moment(date).format('DD/MM/YYYY') } }

            document.getElementById('datepicker').addEventListener('change.td', function(e) {
                var selectedDate = moment(e.detail.date).format('YYYY-MM-DD');
                document.getElementById('id_fecha_nacimiento').value = selectedDate;
            });

            $('#choferForm').on('submit', function() {
                var selectedDate = moment(datepicker.dates.lastPicked).format('YYYY-MM-DD');
                console.log(selectedDate)
                $('#id_fecha_nacimiento').val(selectedDate);
            });
        });
    </script>

    <script>
        /*  //Opcion 2: Usar datepicker
            $(document).ready(function(){
            $('#datepicker').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                language: 'es'
            }).on('changeDate', function(e) {
                $('#id_fecha_nacimiento').val(e.format('yyyy-mm-dd'));
            });
            $('#choferForm').on('submit', function() {
                $('#id_fecha_nacimiento').val($('#datepicker').val());
            });
        });*/
    </script>
{% endblock content %}
